#list {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    /* Impede que a página inteira role */
    overflow: hidden;
}

#list h1,
#add-expenses h1, #add-income h1{
    width: 100%;
    height: 12%;
    min-height: 80px;

    display: flex;
    align-items: center;

    padding: 0;
    border-radius: 0 0 20px 20px;
    justify-content: center;
    flex-shrink: 0;
    font-family: var(---font-style-title);

    background-color: #030303;
}

.search {
    width: 100%;
    margin-top: 20px;
}


/* estilo para tela de cadastro de despesas */
#add-expenses {
    height: 100vh;
    width: 100%;
}

#add-expenses form, #add-income form {
    height: 85%;
    padding: 10% 20px;
    display: flex;
    flex-direction: column;
    gap: 2vh;

}

#add-expenses form div, #add-income form div {
    display: flex;
    font-size: 1.2rem;
    font-family: var(---font-style-title);
}

#add-expenses form label, #add-income form label {
    width: 9rem;
}

#add-income form{
    margin-top: 10vh;
}

#description,
#amount,
#month, #income, #month-income {
    height: 7vh;
    width: 100%;
    min-width: 220px;

    border-radius: 0.5rem;
    border-style: none;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}


.buttonSubmit {
    height: 20vh;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonSubmit #btnBack {
    background-color: rgb(18, 164, 231);
    color: rgb(2, 47, 68);
}

.buttonSubmit button {
    width: 100%;
    height: 45%;
    margin: 0 auto;
    border-radius: 1rem;
    border-style: none;

    font-size: 1.2rem;
    color: rgb(4, 63, 43);
    background-color: var(---theme-color);
    cursor: pointer;
}

/* Estilo para a tabela que mostra a lista de despesas*/
/* Container que limita a altura da tabela e cria a rolagem */
.table-container {
    height: 65vh;
    /* Evita quebras em telas menores */
    width: 100%;
    margin-top: 10px;
    overflow-y: auto;
    /* Cria a barra de rolagem vertical apenas na tabela */
    overflow-x: auto;
}

/* Garante que a tabela ocupe a largura do container */
#list-expenses {
    width: 100%;
    border-collapse: collapse;
    font-family: var(---font-style-title);
}

/* Mantém os títulos das colunas visíveis no topo durante a rolagem */
#list-expenses thead {
    position: sticky;
    top: 0;
    background-color: #121212;
    z-index: 1;
}

/* Espaçamento interno das células */
#list-expenses th,
#list-expenses td {
    padding: 1rem 0.1rem;
    text-align: center;

}

#list-expenses #list-content #table_row {
    background-color: #333232;
    margin-right: 10px;
    border: solid 2px #4b4949;
}

/* estilo para a barra que mostra as informações de valor e tipo de despesas */
#displayInformations {
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #3d3d3d67;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#total_Sum, #total_SumPayable, #total_Balance {
    display: flex;
    font-size: 0.9rem;
    font-family: var(---font-style-title);
    font-weight: bolder;
}

.selectMonth {
    padding-left: 5vw;
}

.selectMonth p,
.selectMonth input {
    font-family: var(---font-style-title);
    font-size: 1.2rem;
}

.selectMonth form {
    height: 6vh;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.selectMonth input,
.selectMonth button {
    text-align: center;
    height: 100%;
    border-radius: 50px;
    border-style: none;
    padding: 10px;
}

.selectMonth button {
    width: 25%;
    background: var(---theme-color);
    cursor: pointer;
}

.selectMonth button:hover {
    background: #73e7b1;
}

.selectMonth i {
    font-size: 1.2rem;
}

.options fieldset {
    border: 2px solid #333;
    padding: 15px;
    border-radius: 8px;
    width: 100%;

}

.options fieldset div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.options fieldset div input[type="radio"] {
    height: 5vh;
    width: 5vw;
    background-color: #121212;
}

#expenses_situation fieldset{
    height: 10vh;
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    border: none;
}

#expenses_situation button {
    min-width: 100px;
    width: 30%;
    border-radius: 50px;
    border-style: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 1rem;
}

#expenses_situation button:nth-child(2) {
    background-color: #5fff4a;
    color: #024928;
}

#expenses_situation button:nth-child(3) {
    background-color: #ff3f3f;
    color: #300101;
}

#expenses_situation button:nth-child(4) {
    background-color: #56c9ff;
    color: #021e49;
}

#expenses_situation .btnClicked{
    opacity: .5;
    border: solid 2px #030303;
}
