#list {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    /* Impede que a página inteira role */
    position: fixed;
    overflow: hidden;
}

#list h1,
#add-expenses h1,
#add-income h1 {
    width: 100%;
    height: 7vh;
    font-size: 1.8rem;

    display: flex;
    align-items: center;

    justify-content: start;
    flex-shrink: 0;
    font-family: var(---font-style-title);

    background-color: #030303;
}

.search {
    width: 100%;
    margin-top: 20px;
}

/* estilo para tela de cadastro de despesas */
#add-expenses {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

#incomeForm {
    height: 70vh;
    align-items: center;
    display: flex;
    padding: 5vh 20px;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 1rem;
    background-color: #0f0f0f;
    border-radius: 2rem;
}

#incomeForm i {
    font-size: 5rem;
}

#incomeForm div {
    width: 100%;

}

#add-expenses form {
    height: 100%;
    width: 100vw;
    max-width: 600px;
    padding: 5vh 20px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border: solid 1px #5e5d5d;
}

#add-expenses form div,
#add-income form div {

    max-width: 100%;
    display: flex;
    font-size: 1rem;
    font-family: var(---font-style-title);
    flex-direction: column;
}


#description,
#amount,
#month,
#income,
#month-income {
    padding: 5px;
    font-size: 1rem;
    margin-top: 2vh;
    background-color: transparent;
    border-style: none;
    border-bottom: solid 1.2px var(---theme-color);
    outline: none;
    color: white;
    width: 100%;
}

.buttonSubmit {
    height: 20vh;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonSubmit button {
    width: 100%;
    height: 35%;
    min-height: 50px;
    margin: 2vh auto;
    border-radius: 2rem;

    font-size: 1rem;
    color: var(---theme-color);
    border: solid 2px var(---theme-color);
    cursor: pointer;
    background-color: transparent;
}

/* Estilo para a tabela que mostra a lista de despesas*/
/* Container que limita a altura da tabela e cria a rolagem */
.table-container {
    height: 75vh;
    /* Evita quebras em telas menores */
    width: 95%;
    margin: 10px auto;
    overflow-y: auto;
    /* Cria a barra de rolagem vertical apenas na tabela */
    overflow-x: auto;
    border-radius: 1rem;
    border: solid 1px #4b4949;
}

/* Garante que a tabela ocupe a largura do container */
#list-expenses {
    width: 100%;
    border-collapse: collapse;
    font-family: var(---font-style-title);
}

/* Mantém os títulos das colunas visíveis no topo durante a rolagem */
#list-expenses thead {
    position: sticky;
    top: 0;
    background-color: #03030393;
}

/* Espaçamento interno das células */
#list-expenses th,
#list-expenses td {
    padding: .8rem 0.1rem;
    text-align: center;
}


#list-expenses #list-content .table_row {
    background-color: #0707078f;
    margin-right: 10px;
    border: solid 1px #4b4949;
    transition: ease-in-out .2s;
    font-size: .7rem;
}

#list-expenses #list-content .table_row .edit_Button {
    cursor: pointer;
}

/* estilo para a barra que mostra as informações de valor e tipo de despesas */
#displayInformations {
    height: 20vh;
    width: 90vw;
    position: absolute;
    bottom: 60px;
    left: 5%;
    z-index: 2;
    background-color: #3d3d3d;
    padding: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
    padding: 30px;
}
    
#info-icon {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    color: var(---theme-color);
}

#total_Sum,
#total_SumPayable,
#total_Balance {
    display: flex;
    font-size: .8rem;
    font-family: var(---font-style-title);
    font-weight: bolder;
}

.selectMonth {
    padding-left: 5vw;
}

.selectMonth p,
.selectMonth input {
    font-family: var(---font-style-title);
    font-size: 1.2rem;
}

.selectMonth form {
    height: 6vh;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.selectMonth input,
.selectMonth button {
    text-align: center;
    height: 100%;
    border-radius: 50px;
    border-style: none;
    padding: 10px;
}

.selectMonth button {
    width: 25%;
    background: var(---theme-color);
    cursor: pointer;
}

.selectMonth button:hover {
    background: #73e7b1;
}

.selectMonth i {
    font-size: 1.2rem;
}

#options fieldset {
    border: 2px solid #555454;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
}

#options fieldset div {
    display: flex;
    height: 5vh;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#options fieldset div input[type="radio"] {
    height: 5vh;
    width: 5vw;
    max-height: 20px;
    max-width: 20px;
    background-color: #121212;
}

#expenses_situation fieldset {
    height: 10vh;
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
}

#expenses_situation button {
    min-width: 100px;
    min-height: 20px;
    max-width: 200px;
    width: 30%;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    border: solid 2px;
    background-color: #363636;
    color: #fafafa;
}

#expenses_situation button:nth-child(2) {
    border: solid 2px #78e2b1;
}

#expenses_situation button:nth-child(3) {
    border: solid 2px #f32525;
}

#expenses_situation button:nth-child(4) {
    border: solid 2px #4d8be9;
}

#dueDate-container,
#allScreen {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #05050559;
}

#dueDate {
    background: #1c1c1c;
    position: absolute;
    height: 25vh;
    width: 80vw;
    max-width: 200px;
    top: 30%;
    left: 10%;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

#dueDate input {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid var(---theme-color);
    outline: none;
    color: white;
}


#dueDate .btns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.5rem;
}


#dueDate .btns button {
    padding: 10px;
    width: 45%;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
}

#dueDate .btns button:nth-child(1) {
    background-color: #5fff4a;
    color: #024928;
}

#dueDate .btns button:nth-child(2) {
    background-color: #56c9ff;
    color: #021e49;
}


.edition {
    position: absolute;
    bottom: 0;
    background-color: #2b2c2b;
    width: 100vw;
    height: auto;
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: ease-in-out .4s;
    z-index: 2;
    font-family: var(---font-style-title);
    font-size: 1rem;
}

.edition span {
    font-size: 1.3rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.edition .inputNewDatas {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.edition .inputNewDatas .content-edition {
    display: flex;
    justify-content: space-between;
    height: auto;
    flex-direction: column;
}

.edition .inputNewDatas .content-edition div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 5vh;
    max-width: 100px;
}

.edition .inputNewDatas .content-edition input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    transform: scale(1.5);
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border: solid 1px #8e8f8f;
    border-radius: .2rem;
    position: relative;
}

.edition .inputNewDatas .content-edition input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: .2rem;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    /* Cria as linhas inferior e direita */
    transform: rotate(45deg);
    /* Gira para formar o 'visto' */
}

.content-edition #main-container_edit {
    display: none;
    display: flex;
    flex-direction: column;
}

.content-edition #main-container_edit input {
    height: 2rem;
    width: 100%;
    padding: 10px;
    display: flex;
    align-self: center;
    border-style: none;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
    border-bottom: solid 2px var(---theme-color);
    color: white;
}

.content-edition #main-container_edit select {
    height: 2.5rem;
    width: 100%;
    font-size: 1rem;
    margin-top: 10px;
    background-color: #4e4e4e;
    color: var(---theme-color);
    outline: none;
    border-style: none;
    border-radius: .2rem;
    padding: 5px;
}

.content-edition #main-container_edit #dueDate_edit {
    text-align: center;
}

#btn_save_edition {
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 6vh;
    width: 6rem;
    max-width: 200px;
    font-size: 1rem;
    background-color: transparent;
    border-style: none;
    color: var(---theme-color);
    border: solid 1px var(---theme-color);
    cursor: pointer;
    border-radius: .2rem;
}

#btn_save_edition:hover {
    background-color: #b3e2b3;
}

/* faz com que suba um formulário de edição até porte da tela. */
.toDown {
    bottom: -45vh;
}

.toUp {
    bottom: 0;
}