/* formatação do estilo padrão da página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* estilos padrão */
:root{
   
    ---font-style-title: arial, Helvetica, sans-serif;
    ---font-color-icons: #06DBFF;
    ---font-color-title: #FFFFFF;
    ---background-color-top-bar: radial-gradient(circle, rgb(85, 85, 85) 10%, rgb(0, 0, 0) 99%);
    ---theme-color: rgb(8, 194, 132);
    ---background-color-gradient: radial-gradient(circle, rgba(8, 194, 132, 1) 21%, rgba(24, 87, 55, 1) 88%);
   
}

.main-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:#262626;
    background: var(---background-color-top-bar);
}

/* estilo padrão para a tela que está "escondida" */
.screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.noActive{
    opacity: 0;
    height: 0;
    transition: opacity 0.08s ease-in-out;
}

/* estilo padrão para a tela que está ativa */
.active{
    opacity: 1;
    pointer-events: auto;
}

/* título principal do sistema */
h1{
    height: 15%;
    max-height: 200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    border-radius: 0 0 10rem 10rem;
    padding: 0 100px 0 100px;
    box-shadow: 0 4px 4px #6464648f;

    font-size: 2em;
    font-family: var(---font-style-title);
    color: var(---font-color-title);
}

/* menu principal */
#main-menu{
    height: auto;
    padding: 10%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20%;

    color: var(---font-color-icons);
    font-family: var(---font-style-title);
}

#main-menu{
    text-align: center;
}

/* formato para icones de imagem */
#main-menu li img{
    width: 5rem;
    max-width: 50px;
}

#main-menu li{
    cursor: pointer;
}

#copyright{
    font-size: 0.6rem;
    color: #635B5B;

    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/* tela do painel de controle */
.screenStyle{
    display: flex;
    height: 100%;
    width: 100%;

    flex-direction: column;
    color: white;
}

/* estilo para a barra que mostra as informações de valor e tipo de despesas */
#displayInformations{
    height: 5vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#total_Sum{
    height: 100%;
    width: 100%;
    background-color: var(---theme-color);
    background: var(---background-color-gradient);
    display: flex;
    align-items: center;
    padding-left: 3vw;
    font-family: var(---font-style-title);
    color: #000200;
    font-weight: 600;
}