/* Importação de fontes do goole fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* formatação do estilo padrão da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* estilos padrão */
:root {

    ---font-style-title: arial, Helvetica, sans-serif;
    /* ---font-color-icons: #06DBFF; */
    ---font-color-title: #FFFFFF;
    ---theme-color: rgb(7, 245, 166);
    ---background-color-gradient: radial-gradient(circle,rgba(69, 69, 69, 1) 26%, rgba(5, 5, 5, 1) 100%);

}

body {
    width: 100vw;
    height: 100vh;
    background: var(---background-color-gradient);
    overflow-x: hidden;
    /* overflow-y: hidden; */
}


.main-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* estilo padrão para a tela que está "escondida" */
.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.noActive {
    opacity: 0;
    height: 0;
    transition: opacity 0.08s ease-in-out;
    z-index: -2;
}

/* estilo padrão para a tela que está ativa */
.active {
    opacity: 1;
    pointer-events: auto;
}

/* título principal do sistema */
#main-title {
    height: 7vh;
    width: 100%;

    display: flex;
    align-items: center;

    font-size: 0.9em;
    font-family: "DM Sans", sans-serif;
    color: var(---font-color-title);
    background-color: #313131;
}

#main-title img {
    height: 100px;
    width: 100px;
}

#main-title section {
    display: flex;
    gap: 10px;
}

/* menu principal */
#main-menu {
    height: auto;
    padding: 5%;

    display: flex;
    flex-direction: column;

    color: white;
    font-family: var(---font-style-title);
    text-align: center;
    gap: 2vh;
    text-align: left;
}

#main-menu h2{
    color: #ebe5e5; 
    font-size: 1.5rem;
}


/* formato para icones de imagem */
#main-menu li img {
    width: 20%;
    max-width: 50px;
}

#main-menu li {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5vw;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10px;
    background-color: #030303bb;
    box-shadow: 5px 5px 10px #353434;
}

#copyright {
    font-size: .9rem;
    color: #635B5B;
    text-align: center;
}

/* tela do painel de controle */
.screenStyle {
    display: flex;
    height: 100%;
    width: 100%;

    flex-direction: column;
    color: white;
}

#intro {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    transition: ease-in-out .3s;
    z-index: 3;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

#intro img {
    height: 45vh;
}