<div id="add-expenses" class="screenStyle">
    <h1>Adicionar despesa</h1>
    <form id="expensesForm">
        <div class="inputType">
            <label for="description">Tipo de despesa</label>
            <input id="description" type="text" required>
        </div>

        <div class="inputAmount">
            <label for="amount">Valor</label>
            <input id="amount" type="number" step="any" required>
        </div>

        <div class="inputMonth">
            <label for="month">Mês</label>
            <input id="month" type="month" required>
        </div>

        <div class="options">
            <fieldset>

                <legend>Tipo de despesa</legend>

                <div>
                    <input type="radio" id="repetition" name="expense" value="repetição" >
                    <label for="repetition">repetição</label>
                    <span id="dueDateView" style="color: var(---theme-color);"> Dia: --</span>
                </div>

                <div>
                    <input type="radio" id="variable" name="expense" value="variável">
                    <label for="variable">variável</label>
                </div>

            </fieldset>
        </div>

        <div id="expenses_situation">
            <fieldset>
                <legend>Situação</legend>
                <button class="situation" id="paid" value="pago">pago</button>
                <button class="situation" id="payable" value="a pagar">a pagar</button>
                <button class="situation" id="scheduled" value="agendado">agendado</button>
            </fieldset>
        </div>

        <div class="buttonSubmit">
            <button class="submit-expense" type="submit">Adicionar</button>

            <button class="btnBack" id="btnBack" type="button">Voltar</button>
        </div>

        <div id="dueDate-container" class="noActive">
            <div id="dueDate" >
                <span>Dia do vencimento</span>
                <input type="number" placeholder="dia" id="day">
                <div class="btns">
                    <button id="confirm">confirmar</button>
                    <button id="close">fechar</button>
                </div>
            </div>
        </div>

    </form>
</div>