<div id="add-expenses" class="screenStyle">
    <h1>Adicionar despesa</h1>
    <form id="expensesForm">
        <div class="inputType">
            <p>Tipo de despesa</p>
            <input id="description" type="text" required>
        </div>

        <div class="inputAmount">
            <p>Valor</p>
            <input id="amount" type="number" required>
        </div>
          <div class="inputMonth">
            <p>Mês</p>
            <input id="month" type="month" required>
        </div>

        <div class="buttonSubmit">
            <button class="submit" type="submit">Adicionar</button>
        </div>
    </form>
</div>