<div id="add-expenses" class="screenStyle">
    <h1>Adicionar despesa</h1>
    <form id="expensesForm">
        <div class="inputType">
            <p>Tipo de despesa</p>
            <input id="description" type="text" required>
        </div>

        <div class="inputAmount">
            <p>Valor</p>
            <input id="amount" type="number" step="any" required>
        </div>

        <div class="inputMonth">
            <p>Mês</p>
            <input id="month" type="month" required>
        </div>

        <div class="options">
            <fieldset>
                <legend>Tipo de despesa</legend>

                    <div>
                        <input type="radio" id="fixa" name="despesa" value="fixa" checked>
                        <label for="fixa">fixa</label>
                    </div>

                    <div>
                        <input type="radio" id="variavel" name="despesa" value="variavel">
                        <label for="variavel">variável</label>
                    </div>

            </fieldset>
        </div>

        <div class="buttonSubmit">
            <button class="submit" type="submit">Adicionar</button>

            <button class="btnBack" id="btnBack" type="button">Voltar</button>
        </div>
    </form>
</div>