<div id="add-income" class="screenStyle">
    <h1>&nbspAdicionar renda</h1>

    <form  id="incomeForm">

        <div class="inputIncome">
            <label for="income">Valor renda:</label>
            <input id="income" type="number" step="any" required>
        </div>

        <div class="inputMonth">
            <label for="month-income">Mês</label>
            <input id="month-income" type="month" required>
        </div>

        <div class="buttonSubmit">
            <button class="submit-income" type="submit">Adicionar</button>

            <button class="btnBack" id="btnBack" type="button">Voltar</button>
        </div>

    </form>
</div>