<div id="list" class="screenStyle">
  <h1><i class="fa-solid fa-chevron-left" id="arrowBack"></i>&nbspLista de despesas</h1>

  <!-- area para fitrar a forma de visualização -->
  <div class="search">

    <div class="selectMonth">
      <p>Escolher mês:</p>

      <div>
        <form>
          <input type="month" id="inputMonth" required>
          <button id="searchResult" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

      </div>
    </div>

    <div class="table-container">
      <table id="list-expenses">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th>Situação</th>
          </tr>
        </thead>

        <tbody id="list-content">

        </tbody>
      </table>
    </div>
    <div id="displayInformations">

    </div>
  </div>
</div>