<div id="list" class="screenStyle">
  <h1><i class="fa-solid fa-chevron-left" id="arrowBack"></i>&nbspLista de despesas</h1>

  <!-- area para fitrar a forma de visualização -->
  <div class="search">

    <div class="selectMonth">
      <p>Escolher mês:</p>

      <div>
        <form>
          <input type="month" id="inputMonth" required>
          <button id="searchResult" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

      </div>
    </div>

    <div class="table-container">
      <table id="list-expenses">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th>Situação</th>
          </tr>
        </thead>

        <tbody id="list-content">
          <!-- espaço onde será injetado um html contendo os dados com todas as informações das despesas -->
        </tbody>
      </table>
    </div>
    <div id="displayInformations">
      <!-- Espaço para mostrar os resultados dos valores e despesas do mês -->
    </div>

    <!-- div para criar uma camada que envolve toda a tela -->
    <div id="allScreen" class="noActive">

      <!-- container que segura o conteudo da tela de edição de despesa-->
      <form class="edition toDown">
        <span>Editar dados <i class="fa-regular fa-pen-to-square"></i></span>
        <div class="inputNewDatas">

          <!-- container que segura os compenentes que serão resposáveis pela entrada dos novos dados -->
          <div class="content-edition">

            <!-- edição da descrição da despesa-->
            <div><label for="desc_edit">Descrição</label>
              <input type="checkbox" class="desc_edit">
            </div>

            <div id="main-container_edit" class="container_input_edit_desc">
              <input type="text" id="desc_edit">
            </div>

          </div>

          <div class="content-edition">
            <!-- edição do valor da despesa-->
            <div><label for="amount_edit">Valor</label>
              <input type="checkbox" class="amount_edit">
            </div>
            
            <div id="main-container_edit" class="container_input_edit_amount">
              <input type="number" id="amount_edit" style="text-align: center;">
            </div>

          </div>

          <div class="content-edition">
            <!-- edição do tipo da despesa-->
            <div><label>Tipo</label>
              <input type="checkbox" class="type_edit">
            </div>

            <div id="main-container_edit" class="container_input_edit_type">

              <select name="type_edit" id="type_edit">
                <option>--selecione--</option>
                <option value="variável">variável</option>
                <option value="repetição">repetição</option>
              </select>

              <input type="number" id="dueDate_edit" placeholder="informe o dia do vencimento" style="display: none;">

            </div>

          </div>

          <div class="content-edition">
            <!-- edição da situação da despesa-->
            <div><label for="situation_edit">Situação</label>
              <input type="checkbox" class="situation_edit">
            </div>

            <div id="main-container_edit"  class="container_input_edit_situation">
              <select name="situation_edit" id="situation_edit">
                <option>--selecione--</option>
                <option value="pago">pago</option>
                <option value="a pagar">a pagar</option>
                <option value="agendado">agendado</option>
              </select>

            </div>

          </div>
          <!-- container que sergura o botão que salva os dados-->
          <div class="btns_edition">
            <button id="btn_save_edition">salvar</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>