<div id="list" class="screenStyle">
  <h1>Lista de despesas</h1>

  <!-- area para fitrar a forma de visualização -->
  <div class="search">

    <!-- filtro -->
    <div class="buttonSearch">
      <button><img src="Views/img/filtro.png" alt="" style="width: 3rem;"></button>
      <p>busca personalizada</p>
    </div>

    <!-- Aparece o filtro selecionado, pode ser (mensal, diário)-->
    <div class="filterShowed">
      <p>mensal x</p>
    </div>

    <div class="table-container">
      <table id="list-expenses">
        <thead>
          <tr>
            <th>Tipo de despesa</th>
            <th>Valor</th>
            <th>Dia vencimento</th>
          </tr>

        </thead>
        <tbody id="list-content">

        </tbody>
      </table>
    </div>

  </div>
</div>