<!-- menu principal do sistema -->
<h1 id="main-title"><p>Sistema para controle financeiro</p><img src="Views/img/logo.png" alt=""></h1>


<ul id="main-menu">

    <li class="controlPanelScreen" data-screen="controlPanelScreen.html">

        <img src="Views/img/grafico.png" alt="">
        <p>painel de controle</p>
    </li>

    <li class="listScreen" data-screen="listScreen.html">

        <img src="Views/img/lista.png" alt="">
        <p>lista de despesas</p>
    </li>

    <li class="addExpensesScreen" data-screen="addExpensesScreen.html">

        <img src="Views/img/adicionar.png" alt="">
        <p>adicionar despesa</p>
    </li>

    <li class="addIncomeScreen" data-screen="addIncomeScreen.html">

        <img src="Views/img/renda.png" alt="">
        <p>adicionar receita</p>
    </li>

</ul>

<p id="copyright">&copy; 2026 - Todos os direitos reservados</p>

