<!-- menu principal do sistema -->
<h1>Controle de Gastos<img src="../img/dinheiro.png" alt="" style="width: 2.5rem; padding-left: 5px;"></h1>


<ul id="main-menu">

    <li class="controlPanelScreen" data-screen="controlPanelScreen.html">

        <img src="img/grafico.png" alt="">
        <p>painel de controle</p>
    </li>

    <li class="listScreen" data-screen="listScreen.html">

        <img src="img/lista.png" alt="">
        <p>lista de despesas</p>
    </li>

    <li class="addExpensesScreen" data-screen="addExpensesScreen.html">

        <img src="img/adicionar.png" alt="">
        <p>adicionar despesa</p>
    </li>

    <li class="addIncomeScreen" data-screen="addIncomeScreen.html">

        <img src="img/renda.png" alt="">
        <p>adicionar renda</p>
    </li>

</ul>

<p id="copyright">&copy; 2026 - Todos os direitos reservados</p>

